body{
    background-color: lavender;
}

#WarningSection {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 768px) {
    #WarningSection {
        flex-direction: column;
    }
}